
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #2A2F4F;
  --color-opacity: #252b5213;
  --color-footer: #0a0c1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

